<div style="border: 1px solid black; padding: 5px">
  <strong>demo-cd-on-push</strong>, treeLevel: {{ treeLevel }}<br />
  payload: {{ payload }}<br />
  internalPayload: {{ internalPayload }}<br />
  time: {{ time }}<br />
  thisRenderCount: {{ thisRenderCount }}<br />
  globalRenderCounts: {{ globalRenderCounts || json }}<br />
  window.data: {{ window ? window.data : null }}<br />

  <div style="padding: 5px">
    <button style="display:inline-block" (click)="doNothing()">doNothing</button>
    <button style="display:inline-block" (click)="markForCheck()">markForCheck</button>
    <button style="display:inline-block" (click)="detectChanges()">detectChanges</button>
    <button style="display:inline-block" (click)="multipleDetectChanges()">multipleDetectChanges</button>
    <button style="display:inline-block" (click)="increaseInternalPayload()">increaseInternalPayload</button>
    <button style="display:inline-block" (click)="increaseInternalPayloadWithXHRWithoutDetectChanges()">increaseInternalPayloadWithXHRWithoutDetectChanges</button>
    <button style="display:inline-block" (click)="increaseInternalPayloadWithXHRWithDetectChanges()">increaseInternalPayloadWithXHRWithDetectChangebutton</button>
  </div>

  <div style="display: flex">
    <div style="flex: 1">
      <demo-cd-on-push
        *ngIf="treeLevel > 0"
        [treeLevel]="treeLevel-1"
        [secondTreeLevel]="secondTreeLevel-1"
        [payload]="payload + internalPayload"
        >
      </demo-cd-on-push>
    </div>

    <div
      *ngIf="secondTreeLevel > 0"
      style="flex: 1">
      <demo-cd-on-push
        *ngIf="treeLevel > 0"
        [treeLevel]="treeLevel-1"
        [secondTreeLevel]="secondTreeLevel-1"
        [payload]="payload + internalPayload"
        >
      </demo-cd-on-push>
    </div>
  </div>
</div>
