<h1>Change Detection Comparison</h1>

<label *ngFor="let option of currentViewOptions">
  <input type="radio" [checked]="currentView === option" (click)="currentView = option"> {{ option }}
</label>

<div *ngIf="currentView === 'default'">
  <h2>ChangeDetectionStrategy.Default</h2>

  <demo-cd-default
    [treeLevel]="treeLevel"
    [secondTreeLevel]="secondTreeLevel"
    [payload]="payload"
    >
  </demo-cd-default>
</div>

<div *ngIf="currentView === 'on-push'">
  <h2>ChangeDetectionStrategy.OnPush</h2>

  <demo-cd-on-push
    [treeLevel]="treeLevel"
    [secondTreeLevel]="secondTreeLevel"
    [payload]="payload"
    >
  </demo-cd-on-push>
</div>

<div *ngIf="currentView === 'detached'">
  <h2>ChangeDetectionStrategy.Default with `this.cdRef.detach()`</h2>

  <demo-cd-detached
    [treeLevel]="treeLevel"
    [secondTreeLevel]="secondTreeLevel"
    [payload]="payload"
    >
  </demo-cd-detached>
</div>
